# CCTV Server Configuration
# Copy file ini ke .env.local dan sesuaikan dengan konfigurasi Anda
# Domain CCTV server tanpa trailing slash
NEXT_PUBLIC_CCTV_DOMAIN=http://localhost:8888
NEXT_PUBLIC_API_URL=http://localhost:3001
