PORT=3001
# Format koneksi MariaDB: mysql://user:password@host:port/database
DATABASE_URL="mysql://root:password@localhost:3306/cctv_db"
JWT_SECRET="gantidengansecretkeyyangsangatpanjangdanaman123"

# MediaMTX Configuration
MEDIAMTX_API_URL="http://localhost:9997"

# CORS Origin (pisahkan dengan koma jika lebih dari satu)
CORS_ORIGIN="http://localhost:3000"

# Default Admin User (Untuk initial DB Seed)
INITIAL_ADMIN_USERNAME="admin"
INITIAL_ADMIN_PASSWORD="admin_secure_password"
